@model IEnumerable<OperationViewModel>
@using Centvrio.Emoji;
@using Core_Services.Entities;

@{
    ViewData["Title"] = "Index";
    var lOperations = (List<OperationEntity>)ViewBag.Operations;

    decimal? totalARS = 0;
    decimal? totalUSD = 0;

    @foreach (var item in lOperations)
    {
        totalARS = totalARS + item.AmountARS;
        totalUSD = totalUSD + item.AmountUSD;
    }
}

@if (lOperations.Any())
{
    <img id="hero-img" src="~/assets/img/budget-planning.gif" style="max-width: 240px" />

    <h1 id="title">Operations Summary</h1>

    <p id="crud-options">
        <a asp-action="Create">Create New</a> |
        <a asp-action="ClearOperations" class="text-danger">Remove all operations</a>
    </p>

    <a id="save-as-pdf" class="btn bg-indigo text-white mb-3">@BookPaper.PageFacingUp Save as .PDF</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account)
                </th>
                <th>
                    Amount AR$
                </th>
                <th>
                    Amount USD$
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lOperations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>
                    <td class="text-primary fw-bold">
                        AR$ @Html.DisplayFor(modelItem => item.AmountARS)
                    </td>
                    <td class="text-success fw-bold">
                        USD$ @Html.DisplayFor(modelItem => item.AmountUSD)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-center p-3 mb-3">
        <div class="badge bg-primary text-white p-3 me-3" style="font-size: 110%">AR$ @String.Format("{0:0.00}", totalARS)</div>
        <div class="badge bg-success p-3" style="font-size: 110%">USD$ @String.Format("{0:0.00}", totalUSD)</div>
    </div>
}
else
{
    <div class="d-flex flex-column align-items-center mb-5">
        <h2 class="fw-bold indigo">Oops!</h2>
        <p class="text-muted">There's no operations yet!</p>
        <img src="~/assets/img/error-305.gif" />
    </div>

    <a asp-action="Create" class="btn bg-indigo text-white">Create your first operation</a>
}

@section Scripts {
    <script type="text/javascript">
        $("#save-as-pdf").on("click", function () {
            $("#save-as-pdf, header, footer, #hero-img, #title, #crud-options").addClass("d-none");

            print();

            $("#save-as-pdf, header, footer, img, #title, #crud-options").removeClass("d-none");
        });
    </script>
}